:root {
    --white-color: #ffffff;
    --lemon-color: #AAB91E;
    --black1-color: #111111;
    --black2-color: #212121;
    --black3-color: #121212;
    --grey1-color: #333333;
    --grey2-color: #4F4F4F;
    --grey3-color: #9C9797;
    --grey4-color: #828282;
    --grey5-color: #E0E0E0;
    --grey6-color: #F2F2F2;
    --light-grey-color: #DCDBDB;
    --image-bg-color: #00000047;
    --image-bg2-color: #00000033;
    --about-black-bg-color: #1A1A1A;
    --about-white-bg-color: #F5F5F5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "AvenirNext", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    max-width: 1440px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container{
        padding: 0 clamp(1.5rem, 5.5vw, 5rem)
    }
}

.title-top-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 2px;
}
