@import url(./styles.css);

/* ------------------------------- HERO --------------------------------- */
.hero{
    width: 100%;
    min-height: 800px;
    position: relative;
}
.hero-wrapper, .hero-slide{
    width: 100%;
    height: 800px;
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    line-height: 1.25;
    padding: 0 1.5rem;
}
.swiper-pagination {
    position: absolute;
    bottom: 20% !important;
}
.swiper-pagination-bullet {
    opacity: 1;
    width: 8px;
    height: 8px;
    background-color: #BDBDBD;
}
.swiper-pagination-bullet-active {
    width: 24px;
    background-color: var(--lemon-color);
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .hero{
        height: 880px;
    }
    .hero-wrapper, .hero-slide{
        height: 880px;
    }
    .hero-title {
        font-size: clamp(1.5rem, 6vw, 6.25rem);
        padding: 0;
        width: 100%;
        white-space: pre-line;
    }
}

/* ---------------------------- EPISODES -------------------------------- */
.episodes{
    padding: 6.25rem 0;
}
.episodes-title{
    color: var(--grey1-color);
    font-size: 2rem;
    line-height: 1.2;
    padding-top: 1.5rem;
    font-weight: 800;
    position: relative;
}
.episodes-title::before {
    background-color: var(--grey3-color)
}
.episodes-list{
    margin-top: 5.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.episodes-item{
    border-radius: 0.5rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.episodes-item:first-child{
    background-color: var(--lemon-color);
    position: relative;
    overflow: hidden;
}
.episodes-item:not(:first-child) {
    padding: 4rem 0.625rem;
}
.episodes-new-label{
    position: absolute;
    top: 0;
    right: 0;
}
.episodes-item-image{
    width: 100%;
    object-fit: cover;
}
.episodes-item-title{
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--grey1-color);
}
.episodes-item:not(:first-child) .episodes-item-title{
    font-size: 1.125rem;
}
.episodes-item-text{
    font-size: 0.875rem;
    margin-bottom: 1rem;
    color: var(--grey2-color);
}
.episodes-item-icons-list{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.episides-load-more-btn {
    width: 100%;
    padding: 1.125rem;
    border-radius: 4px;
    color: var(--black2-color);
    border: none;
    background-color: var(--lemon-color);
    margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
    .episodes{
        padding: 7.5rem 0;
    }
    .episodes-title{
        font-size: 4rem;
    }
    .episodes-list{
        margin-top: 3.5rem;
        gap: 2rem;
    }
    .episodes-item{
        border-radius: 24px;
        padding: 5.5rem 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    .episodes-item-image{
        width: 29%;
    }
    .episodes-item-content {
        flex-grow: 1;
    }
    .episodes-item:first-child .episodes-item-title,
    .episodes-item:not(:first-child) .episodes-item-title{
        font-size: 2rem;
    }
    .episodes-item-text{
        font-size: 1.125rem;
    }
    .episides-load-more-btn {
        display: block;
        margin-top: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        width: 231px;
    }
}

/* --------------------------- PLATFORMS ------------------------------- */
.platforms{
    background-color: var(--lemon-color);
    padding: 5rem 0;
}
.platforms-title{
    color: var(--black2-color);
    font-size: 2rem;
    line-height: 1.25;
    padding-top: 1.5rem;
    font-weight: 800;
    position: relative;
}
.platforms-title::before {
    background-color: var(--grey1-color);
}
.platforms-list{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.platforms-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    flex-basis: 268px;
}

@media screen and (min-width: 768px) {
    .platforms{
        padding: 6.875rem 0 12.75rem;
    }
    .platforms-title{
        color: var(--black2-color);
        font-size: 4rem;
        line-height: 1.2;
    }
    .platforms-list{
        margin-top: 6rem;
        row-gap: 6rem;
        column-gap: 7.5rem;
    }
}

/* -------------------------- GUARDIANS ------------------------------ */
.guardians{
    background-color: var(--black1-color);
    padding: 5.375rem 0 4.875rem;
}
.guardians-title{
    color: var(--white-color);
    font-size: 2rem;
    line-height: 1.2;
    padding-top: 1.5rem;
    font-weight: 800;
    position: relative;
}
.guardians-title::before {
    background-color: var(--grey3-color);
}
.guardians-list{
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.guardians-item{
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.guardians-img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.guardians-img-bg{
    position: absolute;
    top: 0; 
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--image-bg-color);
}
.guardians-content{
    position: absolute;
    bottom: 1.125rem;
    left: 1rem;
}
.guardians-name{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--lemon-color);
    margin-bottom: 0.5rem;
}
.guardians-label{
    font-weight: 500;
    line-height: 1.6;
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .guardians{
        background-color: var(--black1-color);
        padding: 8.5rem 0 11.625rem;
    }
    .guardians-title{
        font-size: 4rem;
    }
    .guardians-list{
        margin-top: 6rem;
        flex-direction: row;
    }
    .guardians-item{
        flex-basis: calc(100% / 3 - 1rem);
    }
}

/* ----------------------------- PODCAST ------------------------------- */
.podcast{
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.podcast-bg-img{
    background-image: url("../images/podcast/podcast-mobile.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.podcast-bg-color {
    width: 100%;
    height: 100%;
    background-color: var(--image-bg-color);
}
.podcast-container{
    margin: 0 ;
}
.podcast-text{
    line-height: 1.5;
    color: var(--light-grey-color);
}
.podcast-name{
    line-height: 1.4;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 1.5rem;
    margin-bottom: 3.75rem;
}

@media screen and (min-width: 768px) {
    .podcast-bg{
        height: 880px;
    }
    .podcast-bg-img{
        background-image: url("../images/podcast/podcast-desk.jpeg");
    }
    .podcast-text{
        max-width: 826px;
        font-size: 1.5rem;
    }
    .podcast-name{
        font-size: 2rem;
        margin-bottom: 4rem;
    }
}

/* ----------------------------- LEVEL UP ------------------------------- */
.level-up{
    background-color: var(--lemon-color);
    padding: 16rem 0;
}
.level-up .container {
    display: flex;
    justify-content: center;
}
.level-up-title-wrapper{
    position: relative;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
}
.level-up-title{
    line-height: 1.2;
    font-size: 3.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    max-width: 900px;
}
.level-up-label{
    background-color: #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.193rem;
    color: var(--white-color);
    padding: 0.5rem;
    position: absolute;
}
.professionals{
    top: -64px;
    left: 20px;
}
.students{
    top: -145px;
    right: 10px;
}
.learners{
    bottom: -97px;
    left: 9px;
}
.adults{
    bottom: -172px;
    right: 65px;
}

@media screen and (min-width: 768px) {
    .level-up{
        padding: 12.5rem 0;
    }
    .level-up-title{
        line-height: 1.04;
        font-size: 7.5rem;
        letter-spacing: -0.02em;
    }
    .professionals{
        top: -31px;
        left: 28px;
    }
    .students{
        top: -4px;
        right: 37px;
    }
    .learners{
        bottom: -34px;
        left: -33px;
    }
    .adults{
        bottom: -34px;
        right: 28px;
    }
}

/* --------------------------- GUESTS -------------------------------- */
.guests{
    padding: 9.75rem 0;
    background-color: var(--black1-color);
    overflow: hidden;
}
.guests-title-wrapper{
    position: relative;
}
.guests-title{
    color: var(--white-color);
    font-size: 2rem;
    line-height: 1.2;
    padding-top: 1.5rem;
    font-weight: 700;
}
.guests-title::before {
    background-color: var(--grey3-color);
}
.guests-swiper-prev-button,
.guests-swiper-next-button{
    position: absolute;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--lemon-color);
    border-radius: 50%;
}
.guests-swiper-prev-button {
    top: 100px;
    left: 0;
}
.guests-swiper-next-button{
    top: 100px;
    left: 56px;
}
.guests-swiper-prev-button::after,
.guests-swiper-next-button::after{
    content: "";
}
.guests-swiper-button-icon{
    color: var(--lemon-color);
}
.guests-swiper-wrapper{
    margin-top: 130px;
}
.guests-slide{
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}
.guests-img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.guests-img-bg{
    position: absolute;
    top: 0; 
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--image-bg-color);
}
.guest-text{
    font-weight: 500;
    line-height: 1.6;
    color: var(--white-color);
}
.guests-content{
    position: absolute;
    bottom: 1.125rem;
    left: 1rem;
}
.guests-name{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--lemon-color);
    margin-bottom: 0.5rem;
}
.guests-label{
    font-weight: 500;
    line-height: 1.6;
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .guests{
        padding: 11.625rem 0;
    }
    .guests-title{
        font-size: 3rem;
    }
    .guests-swiper-prev-button,
    .guests-swiper-next-button{
        width: 3.5rem;
        height: 3.5rem;
    }
    .guests-swiper-prev-button {
        top: 50px;
        left: auto;
        right: 80px;
    }
    .guests-swiper-next-button{
        top: 50px;
        left: auto;
        right: 0;
    }
    .guests-swiper-button-icon{
        font-size: 1.5rem;
    }
    .guests-swiper-wrapper{
        margin-top: 80px;
    }
    .guests-slide{
        max-width: 384px;
    }
}

/* ---------------------------- INFORMED ----------------------------- */
.informed{
    padding: 8.5rem 0;
}
.informed-bg-img{
    background-image: url('../images/informed/informed-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    overflow: hidden;
}
.informed-bg-color{
    width: 100%;
    height: 100%;
    padding: 3.125rem 0.9375rem;
    background-color: var(--image-bg-color);
}
.informed-content{
    width: auto;
    height: 100%;
    background-color: var(--lemon-color);
    border-radius: 0.5rem;
    padding: 1.8125rem 0.9375rem 3.125rem;
    text-align: center;
    border-radius: 0.5rem;
}
.informed-title{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: var(--black2-color);
    position: relative;
    margin-bottom: 1.25rem;
}
.informed-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 2px;
    background-color: var(--grey1-color)
}
.informed-text{
    font-size: 0.875rem;
    line-height: 1.4rem;
    letter-spacing: -0.01em;
    color: #1D1F25;
    padding: 0 0.375rem;
    white-space: pre-line;
}
.informed-form{
    margin-top: 3.25rem;
}
.informed-form-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.informed-form-input{
    color: var(--black2-color);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    background-color: var(--white-color);
    padding: 0.75rem 1rem;
    border: none;
    width: 100%;
}
.informed-form-input::placeholder{
    color: #505050;
}
.informed-form-btn{
    color: var(--white-color);
    font-size: 0.875rem;
    border-radius: 0.25rem;
    padding: 0.75rem;
    background-color: #000000;
    width: 100%;
    border: none;
}
.informed-term-text{
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: var(--grey2-color);
    text-align: left;
}
.informed-term-link{
    color: inherit;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .informed{
        padding: 11.25rem 0;
    }
    .informed-bg-color{
        padding: 4.375rem 3.75rem;
    }
    .informed-content{
        border-radius: 0.5rem;
        padding: 3.6875rem 0.9375rem 5.625rem;
        text-align: center;
    }
    .informed-title{
        max-width: 626px;
        margin: 0 auto;
        font-size: 2.5rem;
    }
    .informed-text{
        max-width: 626px;
        font-size: 1rem;
        line-height: 1.6rem;
        margin: 0 auto;
    }
    .informed-form{
        margin-top: 2.8125rem;
        width: 513px;
        margin-left: auto;
        margin-right: auto;
    }
    .informed-form-content{
        flex-direction: row;
    }
    .informed-form-input{
        width: auto;
        flex-grow: 1;
    }
    .informed-form-btn{
        padding: 0.75rem 1.5rem;
        width: 106px;
    }
}